@page "/TicketSellingRepPage"
@using DISS_2.BackEnd.Core
@implements IRepDelegate
@rendermode InteractiveServer

<div class="card rounded-3 bg-dark p-3">
    <div class="card rounded-3 bg-white">
        <h3>Ticket Selling Replications</h3>
    </div>

    <div class="card rounded-3 bg-white">
        <label>
            <input class="form-control" type="number" min="30" step="100" @bind="_replicationCount"/>
        </label>
        <button class="btn btn-primary" @onclick="RunReplications">Run</button>
    </div>
</div>



@code {
    private int _replicationCount = 100;

    private Task RunReplications()
    {
        throw new NotImplementedException();
    }

    public void UpdateUi(SimCore simCore)
    {
        throw new NotImplementedException();
    }

}