<div class="col-3">
    <div class="card rounded-3 bg-white p-3 ">
        <h3>History</h3>
        <textarea class="form-control" readonly="readonly" rows="13">
            @string.Join("\n", LogsCollection)
        </textarea>
    </div>
</div>

@code {
    [Parameter, EditorRequired] public List<string> LogsCollection { get; set; } = new();
}