<div class="card rounded-3 bg-white p-3 h-100">
    <h3>History</h3>
    <textarea class="form-control h-100" readonly="readonly" style="resize: none;">
        @string.Join("\n", LogsCollection)
    </textarea>
</div>

@code {
    [Parameter, EditorRequired] public List<string> LogsCollection { get; set; } = new();
}