@using DISS_2.BackEnd.TopFurniture
@using DISS_2.BackEnd.TopFurniture.Agents
@rendermode InteractiveServer

<div class="card rounded-3 p-4 bg-light">
    <h3 class="card-title mb-3">Locations</h3>
    <div style="max-height: 25rem; overflow-y: auto;">
        <table class="table table-bordered custom-rounded m-0">
            <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Present Workers</th>
                <th>Current Order</th>
            </tr>
            </thead>
            <tbody class="table-dark">
            @foreach (Location location in Locations)
            {
                <tr>
                    <td class="fw-bold">@location.Id</td>
                    <td>@GetWorkerIdsString(location)</td>
                    <td>@GetCurrentOrder(location)</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter, EditorRequired] public List<Location> Locations { get; set; } = null!;

    private string GetCurrentOrder(Location location)
        {
            if (location.CurrentOrder is Chair) return "Chair";
            if (location.CurrentOrder is Wardrobe) return "Wardrobe";
            if (location.CurrentOrder is Table) return "Table";
            return "🟢";
        }

    private string GetWorkerIdsString(Location location)
        {
        if (!location.Workers.Any())
        {
            return "";
        }

        try
        {
            IEnumerable<int> workerIds = location.Workers.Select(worker => worker.Id);
            return string.Join(",", workerIds);
        }
        catch (Exception e)
        {
            return "";
        }
    }
}
