@using DISS_2.BackEnd
@using DISS_2.BackEnd.Core

<div class="container">

  <div class="row row-cols-8">
    @foreach (var option in _speedOptions)
    {
      <div class="col p-2">
        <SpeedControlItem Option="@option.Value"
                          Label="@option.Label"
                          CurrentSpeed="Speed"
                          OnSpeedChanged="ChangeSpeed"/>
      </div>
    }
  </div>

</div>

@code {

  private Speed Speed { get; set; } =
    MainApp.Instance.SpeedControl.CurrentSpeed;

  private record SpeedOption(Speed Value, string Label);

  private List<SpeedOption> _speedOptions = new();

  protected override void OnInitialized()
  {
    _speedOptions = new()
    {
      new SpeedOption(Speed.Stopped, "Stop"),
      new SpeedOption(Speed.Speed1X, "1x"),
      new SpeedOption(Speed.Speed2X, "2x"),
      new SpeedOption(Speed.Speed5X, "5x"),
      new SpeedOption(Speed.Speed10X, "10x"),
      new SpeedOption(Speed.Speed100X, "100x"),
      new SpeedOption(Speed.Speed1000X, "1000x"),
      new SpeedOption(Speed.FullSpeed, "Full Speed")
    };
  }

  private void ChangeSpeed(Speed newSpeed)
  {
    Speed = newSpeed;
    MainApp.Instance.SpeedControl.CurrentSpeed = newSpeed;
  }

}
